.card {
    //background-color: #1f1f1f;
    //color: white;
    transition: transform 0.3s;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.card:hover {
    transform: scale(1.05);
}

.galeria {
    margin-top: 24px;
}