    .create {
        position: relative;
    align-content: center;
    margin: 8px 0;

    a {
        width: fit-content;
        height: 32px;
        border: 1px solid;
        border-radius: 5px;
        padding: 8px;
        color: var(--dark) !important;
        margin: 8px;

        &:hover {
            color: var(--primary) !important;
        }
    }
}

.card {
    transition: transform 0.3s;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.card:hover {
    transform: scale(1.05);
}

.galeria {
    margin-top: 24px;
}