<div class="content">
    <nav>
        <ng-content *ngIf="sessionService.sesionIniciada">
            <div class="item">
                <a [routerLink]="['/cartelera']" class="text-white px-2">Cartelera</a>
            </div>
        </ng-content>
    </nav>
    <ng-content *ngIf="sessionService.sesionIniciada">
        <div class="user">
            <a [routerLink]="['/usuario']" class="text-white px-2">Hola! {{sessionService.usuario.nombre}}</a>
        </div>
        <div class="logout" (click)="logout()">
            Salir
        </div>
    </ng-content>
</div>